.register{
    font-size: 25px;
    width: 300px;
    color: maroon;
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background-color: rgba(72, 209, 205, 0.459);
}